{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Farmacêutico</title>
</head>
<body>
    <h1>Editar Farmacêutico</h1>

    <form method="post" action="{% url 'updateFarmaceutico' farmaceutico.id %}">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Salvar Alterações</button>
    </form>
    
    <a href="{% url 'listFarmaceuticos' %}">Voltar para a lista de farmacêuticos</a>
</body>
</html>
