{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bs/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% block content %}
    {% endblock %}

    <script scr="{% static 'js/scripts.js' %}"></script>
    <script
        integrity="sha256-B8sHvfukDO/4abMp60ju7eQXQLps6DPdODC9CvSeSJg="
        crossorigin="anonymous"></script>
    <script src="{% static 'js/bs/bootstrap.js' %}"></script>
    <script src="https://kit.fontawesome.com/8f8a4bcfa0.js" crossorigin="anonymous"></script>
    
</body>
</html>